.sidebar {
    display: flex;
    flex-direction: column;
    padding: 28px 25px 0 25px;
    border-right: 1px solid var(--border-block-color);
    height: 100vh;
}

.ichgramIcon {
    margin-bottom: 33.44px;
}

.iconsMenu {
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-bottom: 60px;
}

.iconsMenu button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.iconMenu {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}



.iconMenu:global(.active) {
    font-weight: 700;
}

.profileClass {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 16px;
}

.profileClass:global(.active) {
    font-weight: 700;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.navAndModal {
    display: flex;
}

@media (max-width:663px) {
    .sidebar {
        padding: 28px 0 0 15px;
        border-right: 1px solid var(--border-block-color);
        height: 100vh;
    }

    .iconMenu {
        gap: 8px;
    }
}

@media (max-width:663px) {
    .textMenu {
        font-size: 14px;
    }
}

@media (max-width:538px) {
    .ichgramIcon {
        display: none;
    }

    .textMenu {
        display: none;
    }


    .iconsMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        margin-left: 20px;
        margin-bottom: 0;
        margin-top: auto;
    }

    .sidebar {
        padding: 28px 15px 0 15px;
        border-right: 1px solid var(--border-block-color);
        height: 100vh;
    }

    .textProfile {
        display: none;
    }


}