.myProfilePage {
    display: flex;
    flex-direction: column;
    padding: 38px 110px 0 110px;
}

.myProfileBlock {
    display: flex;
    align-items: center;
    gap: 94px;

}

.avaMedia {
    display: none;
}

.avaMedia2 {
    display: none;
}

.myProfileAvatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.myProfileBlockInfo {
    display: flex;
    flex-direction: column;
}

.myProfileNameEdit {
    display: flex;
    align-items: center;
    gap: 23px;
}

.username {
    font-weight: 400;
    font-size: 19.84px;
}

.btnEdit {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding: 8px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #EFEFEF;
    color: #000;
}

.audience {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 28px;
    margin-bottom: 20px;
}

.audience span {
    font-weight: 600;
}

.audience p {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.myProfileAbout {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.link {
    margin-top: 18.5px;
    font-weight: 600;
    font-size: 14px;
    color: #00376B;
}

@media (max-width:1055px) {
    .myProfilePage {
        display: flex;
        flex-direction: column;
        padding: 38px 40px 0 40px;
    }

    .myProfileBlock {
        gap: 30px;
    }
}

@media (max-width:884px) {
    .myProfilePage {
        padding: 38px 20px 0 20px;
    }

    .myProfileAvatar img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 20px 0 20px;
    }
}

@media (max-width:848px) {
    .myProfilePage {
        padding: 38px 10px 0 5px;
    }

    .myProfileBlock {
        gap: 10px;
    }

    .avaIch {
        display: none;
    }

    .avaMedia {
        display: block;
    }

    .username {
        font-weight: 400;
        font-size: 16px;
    }

    .btnEdit {
        font-size: 12px;
        padding: 6px 20px;
    }


}

@media (max-width:753px) {
    .audience {
        gap: 40px;
        margin-bottom: 20px;
    }

    .audience p {
        font-size: 13px;
    }
}

@media (max-width:560px) {
    .myProfileAvatar img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 10px 0 10px;
    }
}

@media (max-width:433px) {

    .avaMedia {
        display: none;
    }

    .avaMedia2 {
        display: inline;
    }

    .myProfileBlock {
        align-items: normal;
    }

    .audience {
        margin-top: 14px;
        margin-bottom: 20px;
        gap: 22px;
    }

    .audience p {
        font-size: 12px;
    }

    .username {
        font-weight: 400;
        font-size: 13px;
    }

    .btnEdit {
        font-size: 11px;
        padding: 6px 17px;
    }

}