.userPage {
    display: flex;
    flex-direction: column;
    padding: 38px 110px 0 110px;
}

.descriptionBlock {
    display: flex;
    align-items: center;
    gap: 95px;
}

.ava2 {
    display: none;
}

.imageAva {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.infoActionBlock {
    display: flex;
    flex-direction: column;
}

.actionPart {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.username {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-right: 20px;
}

.followBtn {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    background-color: #0095F6;
    color: #fff;
    padding: 8px 48px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.unfollowBtn {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    background-color: #EFEFEF;
    color: #000000;
    padding: 8px 48px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.messageBtn {
    background-color: #EFEFEF;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding: 8px 48px;
    margin-left: 10px;
    cursor: pointer;
}

.infoAboutUser {
    display: flex;
    align-items: center;
    gap: 85px;
    margin-bottom: 20px;
}

.infoAboutUser p {
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.count {
    font-weight: 600;
    margin-right: 4px;
}

.textAboutUser {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

}

.link {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #00376B;
    margin-top: 8px;
    cursor: pointer;
}

.error {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: red;
}


.loadingPosts {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    animation: blink 1.2s ease-in-out infinite;
    color: #3f3f3f;
}

.errorText {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

@media (max-width:1142px) {
    .descriptionBlock {
        gap: 20px;
    }
}

@media (max-width:1066px) {
    .userPage {
        padding: 38px 40px 0 40px;
    }
}

@media (max-width:923px) {
    .userPublications {
        margin-top: 20px;
    }

    .ava1 {
        display: none;
    }

    .ava2 {
        display: inline;
    }

    .descriptionBlock {
        gap: 10px;
        align-items: normal;
    }

    .infoAboutUser {
        gap: 40px;
        margin-bottom: 20px;
    }
}

@media (max-width:850px) {
    .actionPart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
    }

    .username {
        font-size: 16px;
        margin-right: 0;
    }

    .messageBtn {
        font-size: 12px;
        margin-left: 0;
        padding: 8px 30px;
    }

    .followBtn {
        font-size: 12px;
        padding: 8px 36px;
    }

    .unfollowBtn {
        font-size: 12px;
        padding: 8px 28px;
    }

    .infoAboutUser {
        gap: 20px;
        margin-bottom: 0px;
    }
}

@media (max-width:673px) {
    .infoAboutUser p {
        font-size: 14px;
        white-space: nowrap;

    }

    .userPage {
        padding: 20px 20px;
    }

    .descriptionBlock {
        gap: 0;
        align-items: normal;
    }
}

@media (max-width:409px) {
    .infoAboutUser p {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .userPage {
        padding: 20px 0;
    }

    .messageBtn {
        font-size: 11px;
        margin-left: 0;
        padding: 5px 20px;
    }

    .followBtn {
        font-size: 11px;
        padding: 5px 26px;
    }

    .unfollowBtn {
        font-size: 11px;
        padding: 5px 18px;
    }

    .infoAboutUser {
        gap: 10px;
        margin-bottom: 0px;
    }
}